## Wordpress .gitignore by https://stevegrunwell.github.io/wordpress-git/#/10
# Keep these files out of the repo
/sitemap.*
/wp-config.php
*.sql

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*

# IDEA
.idea/*
